<div class="row">
{{#each Movies}}
  <div class="col-sm-4 movieDiv">
    <div class="row">
      <div class="col-sm-8">
        <img src="http://img.omdbapi.com/?i={{imdbID}}&apikey=8513e0a1" class="img-responsive">
      </div>
      <div class=col-sm-4>
        <span class="glyphicon glyphicon-remove deleteMovieIcon" imdbID='{{imdbID}}'></span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p>{{Title}} ({{Year}})</p>
      </div>
   </div>
    <div class="row">
      <div class="col-sm-12 userRating" rating="{{userRating}}" imdbID='{{imdbID}}' id='rating{{imdbID}}'>
      </div>
      <select class="col-sm-8 userRatingSelector" imdbID='{{imdbID}}' id='ratingSelector{{imdbID}}' style='display: none;' value='{{userRating}}'>
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
        <option value="0">0</option>
        <option value="-1">Not Watched</option>
      </select>
      <button class="col-sm-8 btn btn-defualt userRatingButton" rating="{{userRating}}" imdbID='{{imdbID}}' id='ratingButton{{imdbID}}' style='display: none;'>Update Rating</button>
    </div>
  </div>
{{/each}}
</div>
